:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark: #1E1E1E;
  --color-red: #FF2F2F;
  --color-blue: #3369F3;
  --color-dark-gray: #999999;
  --color-light-gray: #EFEFEF;
  --color-extra-light-gray: #FBFBFB;
}
