:root {
  --zindex-minus-1000: -1000;
  --zindex-minus-50: -50;
  --zindex-0: 0;
  --zindex-50: 50;
  --zindex-100: 100;
  --zindex-150: 150;
  --zindex-200: 200;
  --zindex-250: 250;
  --zindex-300: 300;
  --zindex-350: 350;
  --zindex-400: 400;
  --zindex-450: 450;
  --zindex-500: 500;
  --zindex-1000: 1000;
  --zindex-1050: 1050;
}
