{
	"env": {
		"browser": true,
		"es2021": true,
		"jest": true
	},
	"extends": [
		"xo",
		"prettier"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"plugins": [
		"@typescript-eslint",
		"prettier"
	],
	"rules": {
		"no-console": 0,
		"no-alert": 0,
		"func-names": 0,
		"import/prefer-default-export": 0,
		"no-param-reassign": 0,
		"class-methods-use-this": 0,
		"no-underscore-dangle": 0,
		"no-constructor-return": 0,
		"no-unused-vars": "off",
		"max-params": [2, 4],
		"camelcase": "off",
		"prettier/prettier": ["error"]
	}
}
