extends ../../layouts/main

block append title
    title 'Profile page'
block content
    main.main.profile
        .profile__container
            .profile__avatar.js-avatar-container
            form.profile__form
                .profile__input-box
                    .profile__field
                        label.profile__label Почта
                        input.profile__input(name="email" value="pochta@yandex.ru" disabled)
                    .profile__field
                        label.profile__label Почта
                        input.profile__input(name="email" value="pochta@yandex.ru" disabled)
                    .profile__field
                        label.profile__label Почта
                        input.profile__input(name="email" value="pochta@yandex.ru" disabled)
                    .profile__field
                        label.profile__label Почта
                        input.profile__input(name="email" value="pochta@yandex.ru" disabled)
                    .profile__field
                        label.profile__label Почта
                        input.profile__input(name="email" value="pochta@yandex.ru" disabled)
                    .profile__field
                        label.profile__label Почта
                        input.profile__input(name="email" value="pochta@yandex.ru" disabled)

            a.link.profile__link(href="#") Изменить данные
            a.link.profile__link(href="#") Изменить пароль
            a.link.link_red.profile__link(href="#") Выйти
        .profile__back.back
    script(src="./profile.js")
