.profile {
  &__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    max-width: 510px;
    min-height: 600px;
    width: 100%;
  }

  &__field {
    position: relative;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-column-gap: 20px;
    align-content: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #EAEAEA;
  }

  &__button {
    margin: 0 auto;
  }

  &__label {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #1E1E1E;
  }

  &__input {
    display: block;
    width: 100%;

    background: transparent;
    font-size: 13px;
    line-height: 13px;
    color: #999999;
    transition: all 0.2s;
    touch-action: manipulation;
    -webkit-appearance: none;
    text-align: right;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
      -webkit-text-fill-color: #1E1E1E !important;
    }

    &::-webkit-input-placeholder {
      opacity: 0;
      transition: inherit;
    }
  }

  &__form {
    flex: 1;
    margin-bottom: 60px;
  }

  &__link {
    padding: 10px 0;
    border-bottom: 1px solid #EAEAEA;

    &:last-of-type {
      border-bottom: 0;
    }
  }
}

