extends ../../layouts/main

block append title
    title 'SignIn edit page'
block content
    main.main.login
        form.form.login-page__form
            h1.form__title Вход
            .form__inputsbox.js-inputsbox
            button.btn.form__enter Авторизоваться
            a.link.form__link(href="#") Нет аккаунта?
    script(src="./signin.js")
