extends ../../layouts/main

block append title
    title 'Profile edit page'
block content
    main.main.profile
        .profile__container
            .profile__avatar.js-avatar-container
            form.profile__form
                .profile__inputs-box
                    .profile__field
                        label.profile__label Почта
                        input.profile__input(name="email" value="pochta@yandex.ru" )
                    .profile__field
                        label.profile__label Почта
                        input.profile__input(name="email" value="pochta@yandex.ru" )
                    .profile__field
                        label.profile__label Почта
                        input.profile__input(name="email" value="pochta@yandex.ru" )
                    .profile__field
                        label.profile__label Почта
                        input.profile__input(name="email" value="pochta@yandex.ru" )
                    .profile__field
                        label.profile__label Почта
                        input.profile__input(name="email" value="pochta@yandex.ru" )
                    .profile__field
                        label.profile__label Почта
                        input.profile__input(name="email" value="pochta@yandex.ru" )
                button.btn.profile__button Сохранить
        .profile__back.back
    script(src="./profileEdit.js")
