extends ../../layouts/main

block append title
    title 'Profile edit page'
block content
    main.main.profile
        .profile__container
            .avatar-component
                .avatar-component__img
                    //img(src="" alt="")
                .avatar-component__name Ivan
            form.profile__form
                .profile__field
                    label.profile__label Почта
                    input.profile__input(name="email" value="pochta@yandex.ru" )
                .profile__field
                    label.profile__label Почта
                    input.profile__input(name="email" value="pochta@yandex.ru" )
                .profile__field
                    label.profile__label Почта
                    input.profile__input(name="email" value="pochta@yandex.ru" )
                .profile__field
                    label.profile__label Почта
                    input.profile__input(name="email" value="pochta@yandex.ru" )
                .profile__field
                    label.profile__label Почта
                    input.profile__input(name="email" value="pochta@yandex.ru" )
                .profile__field
                    label.profile__label Почта
                    input.profile__input(name="email" value="pochta@yandex.ru" )

            button.btn.profile__button Сохранить
    script(src="./profileEdit.js")
