.home {
  &__container {
    display: grid;
    grid-template-columns: 310px 1fr;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
}

.menu {
  background-color: var(--color-extra-light-gray);
  overflow-y: scroll;
  height: 100vh;

  &::-webkit-scrollbar {
    width: 0;
  }

  &__container {
    padding: 20px 10px 0;
  }

  &__profile {
    position: relative;
    display: block;
    margin-bottom: 23px;
    padding-right: 8px;
    text-align: right;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: var(--color-dark-gray);

    &::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 10px;
      background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='%23999999'/%3E%3C/svg%3E%0A") no-repeat center;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__search {
    margin-bottom: 14px;
  }

  &__list {
    display: flex;
    align-content: center;
    flex-flow: column wrap;
  }

  &__item {
    display: block;
    width: 100%;
    padding: 2px 0;
    border-top: 1px solid var(--color-light-gray);
  }
}

.add {
  &__input {
    position: relative;
    width: 100%;
    height: 32px;
    margin-bottom: 14px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: var(--color-light-gray);
    color: var(--color-dark);
    z-index: var(--zindex-50);
  }
}

.search {
  position: relative;

  &__btn {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    background: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5924 10.4138C9.16047 11.8457 6.83886 11.8457 5.40694 10.4138C3.97502 8.9819 3.97502 6.6603 5.40694 5.22837C6.83886 3.79645 9.16047 3.79645 10.5924 5.22837C12.0243 6.6603 12.0243 8.9819 10.5924 10.4138ZM11.0328 11.7968C9.07255 13.2962 6.25696 13.1495 4.46413 11.3566C2.51151 9.40401 2.51151 6.23819 4.46413 4.28556C6.41675 2.33294 9.58258 2.33294 11.5352 4.28556C13.3279 6.07831 13.4747 8.89373 11.9755 10.8539L15.5423 14.4206L14.5994 15.3635L11.0328 11.7968Z' fill='%23999999'/%3E%3C/svg%3E%0A") no-repeat center;
    background-size: 19px 19px;
    z-index: var(--zindex-100);
    cursor: pointer;
  }

  &__input {
    position: relative;
    width: 100%;
    height: 32px;
    padding-left: 32px;
    border-radius: 5px;
    background-color: var(--color-light-gray);
    color: var(--color-dark);
    z-index: var(--zindex-50);
  }
}

.messages {
  display: grid;
  min-width: 100%;
  height: 100%;

  &__empty {
    align-self: center;
    justify-self: center;
  }

  &__tooltip {
    display: flex;
    position: absolute;
    gap: 10px;
    right: 0;
    left: 0;
    bottom: -50px;
    width: 300px;
    z-index: 100;
    margin: auto;
    transform: translateY(-100px);
    opacity: 0;
    height: 50px;
    transition: all 0.3s ease-in-out;

    &.show {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__avatar {
    .avatar-component {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      align-items: center;
    }

    .avatar-component__img {
      width: 34px;
      height: 34px;
      margin-bottom: 0;
    }
  }

  &__btn {
    width: 25px;
    height: 25px;
    min-width: 25px;
    margin-bottom: 0;
  }

  &__container {
    display: grid;
    grid-template-rows: 54px 1fr 54px;
    min-height: 100vh;
    padding: 0 10px;
  }

  &__head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 54px;
    border-bottom: 1px solid var(--color-light-gray);
  }

  &__avatar {
    width: 34px;
    height: 34px;
  }

  &__body {
    width: 100%;
    padding: 30px 0;
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-gap: 10px;
    align-content: center;
    justify-content: space-between;
    min-height: 54px;
    border-top: 1px solid var(--color-light-gray);
  }

  &__file {
    display: block;
    align-self: center;
    width: 30px;
    height: 30px;
    background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.18662 12.5L13.7628 4.92389L14.7056 5.8667L7.12943 13.4428L6.18662 12.5Z' fill='%23999999'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.70067 15.0141L16.2768 7.43793L17.2196 8.38074L9.64348 15.9569L8.70067 15.0141Z' fill='%23999999'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.0433 20.3567L21.6195 12.7806L22.5623 13.7234L14.9861 21.2995L14.0433 20.3567Z' fill='%23999999'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.5574 22.8708L24.1335 15.2946L25.0763 16.2374L17.5002 23.8136L16.5574 22.8708Z' fill='%23999999'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.5574 22.8709C13.9423 25.486 9.71181 25.4954 7.10831 22.8919C4.50482 20.2884 4.51424 16.0579 7.12936 13.4428L6.18655 12.5C3.0484 15.6381 3.0371 20.7148 6.16129 23.839C9.28549 26.9632 14.3621 26.9518 17.5003 23.8137L16.5574 22.8709Z' fill='%23999999'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.6195 12.7806L22.5623 13.7234C25.003 11.2826 25.0118 7.3341 22.5819 4.90417C20.152 2.47424 16.2035 2.48303 13.7627 4.92381L14.7055 5.86662C16.6233 3.94887 19.7257 3.94196 21.6349 5.85119C23.5441 7.76042 23.5372 10.8628 21.6195 12.7806Z' fill='%23999999'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.70092 15.0144C6.95751 16.7578 6.95123 19.5782 8.68689 21.3138C10.4226 23.0495 13.2429 23.0432 14.9863 21.2998L14.0435 20.357C12.8231 21.5774 10.8489 21.5818 9.63391 20.3668C8.41894 19.1518 8.42334 17.1776 9.64373 15.9572L8.70092 15.0144Z' fill='%23999999'/%3E%3C/svg%3E%0A") no-repeat center;
    cursor: pointer;
  }

  &__input {
    display: block;
    align-self: center;
    width: 100%;
    height: 32px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: var(--color-light-gray);
  }

  &__submit {
    position: relative;
    display: block;
    align-self: center;
    width: 28px;
    height: 28px;
    overflow: hidden;
    border-radius: 50%;
    background: var(--color-blue) url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='5.19995' width='11' height='1.6' fill='white'/%3E%3Cpath d='M7 1L11 6L7 11' stroke='white' stroke-width='1.6'/%3E%3C/svg%3E%0A") no-repeat center;
    background-size: 13px 12px;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}
