html,
body,
header,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-size: 100%;
  color: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea,
fieldset {
  margin: 0;
  border: 0;
  outline: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

img {
@supports (content-visibility: auto) {
  content-visibility: auto;
}
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0 solid transparent;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 9999999s ease-in-out 0s;
}

*[scroll-to] {
  cursor: pointer;
}
