.avatar-component {
  width: 100%;
  height: 100%;

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 21px;
    overflow: hidden;
    border-radius: 50%;
    background: var(--color-light-gray) url('../../../static/images/avatar-placeholder.svg') no-repeat center;
    background-size: 40px 40px;
  }

  &__name {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-dark);
    text-align: center;
  }
}
