.avatar-component {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin-bottom: 60px;

  &__img {
    width: 130px;
    height: 130px;
    margin-bottom: 21px;
    overflow: hidden;
    border-radius: 50%;
    background: #EFEFEF url('../../../static/images/avatar-placeholder.svg') no-repeat center;
    background-size: 40px 40px;
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-dark);
    text-align: center;
  }
}
