extends layouts/main

block content
  ul Ссылки на страницы
    li
      a(href='./pages/home/signin.pug') signin
    li
      a(href='./pages/home/signup.pug') signup
    li
      a(href='./pages/chat/index.pug') chats
    li
      a(href='./pages/profile/index.pug') profile
    li
      a(href='./pages/profileEdit/index.pug') profile edit
    li
      a(href='./pages/profileEditPassword/index.pug') profile edit password
    li
      a(href='./pages/error/index.pug') error
