.error {
  &__title {
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--color-dark);
  }

  &__description {
    margin: 0 0 70px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: var(--color-dark);
  }

  &__link {
    margin: 0 auto;
  }
}
